  <!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center bg-gray-100" style="background-color: rgb(232, 212, 253);">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            </svg>
            <span class="ml-3 text-xl"><span style="color: red;">Share</span><span style="color: black;">Eval</span></span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900 browsebtn" style="background-color:black; color: red;" href="/home/<%= user._id %>">Home</a>
            <a class="mr-5 hover:text-gray-900 browsebtn" style="background-color:black;color: red;" href="/upload/<%= user._id %>">Upload</a>
            <a class="mr-5 hover:text-gray-900 browsebtn" style="background-color:black;color: red; width: 100px;" href="/download/api/<%= user._id %>">Download</a>
          </nav>
          <a href="/"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 browsebtn" style="background-color:#ffffff;color: red; width: 101px;">Log out
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button></a>
        </div>
      </header>
</body>
</html>